@use 'src/styles/vars.scss';

#app {
  width: 100%;
  
  & #main {
    padding-top: 62px;
    text-align: center;

    @media (min-width: 750px) {
      padding-top: 100px;
    }
  }

  & img {
    max-width: 80%;
  }
}
