@use 'src/styles/vars.scss';

#header {
  background-color: rgb(255, 0, 255, 0.5);
  width: 100%;  
  position: fixed;
  display: flex;
  padding: 2rem;
  justify-content: space-between;

  & h1 {
    text-transform: uppercase;
    width: 80px;
  }

  & .bigMenu {
    display: flex;

    & a {
      margin-right: 1rem;

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        margin: unset;
      }
    }

    & .active {
      text-transform: uppercase;
    }
  }

  & .extendBar {
    width: 30px;
    height: 30px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

    &:hover {
      background-color: blue;
    }
  }
  
  & .openMenu {
    display: inline-block;
    background-color: #0ff;
  }


  & .smallMenu {
    position: fixed;
    right: 0;
    transition: 1.2s;
    display: flex;
    flex-direction: column;
    width: 200px;

    & .scrollMenu {
      margin: 1rem;
    }
  
    & .active {
      text-transform: uppercase;
      right: 0;
    }
  }

  & .hideMenu {
    position: fixed;
    right: -200px;
    transition: 1.2s;
  }

  @media (max-width: 750px) {
    .bigMenu {
      display: none;
    }
  }
  
  @media (min-width: 750px) {
    .extendBar,
    .smallMenu {
      display: none;
      margin-right: 1rem;
    }
  }

  & .hiddenBlur {
    display: none;
  }

  & .blurArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 56, 56, 0.5);
  }
}


